@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

:root {
  --main-font: 'Poppins', sans-serif;
  --secondary-font: 'Nunito', sans-serif;
  --main-color: #2600D6;
  --dark-color: #05090a;
  --light-color: #f8f8f8;
  --aquamarine: #75FFCC;
  --outremer: #170082;
  --spacing: 8px;
  --spacing-medium: calc(var(--spacing) * 2);
  --spacing-large: calc(var(--spacing) * 4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--light-color);
}

.main-title {
  font-family: var(--main-font);
  color: var(--outremer);
  margin-bottom: var(--spacing-medium);
}